
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    margin-top :50px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-top:20px;
    color: #00796b;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #444;
    display: block;
    margin-top: 10px;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background: #f9f9f9;
    transition: 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #00796b;
    outline: none;
    background: #e0f7fa;
}

/* Button Styling */
.btn {
    width: 100%;
    background: #00796b;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: #004d40;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}