* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2d3e50;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #4e5b6e;
}

.content {
    margin-left: 250px;
    padding: 30px;
    width: 100%;
    background-color: #f7f9fc;
}

.overview {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.overview h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-card {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.stat-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

a .stat-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.stat-card h2 a{
    text-decoration: none;
    color: white;
}

.stat-card p {
    font-size: 32px;
    font-weight: bold;
}

.red {
    background-color: #ff5c8e;
    color: white;
    padding-top:25px;
}

.green {
    background-color: #28a745;
    color: white;
}

.blue {
    background-color: #007bff;
    color: white;
}

@media (max-width: 768px) {
    .content {
        margin-left: 0;
        padding: 15px;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stat-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 200px;
        padding: 10px 5px;
    }

    .sidebar ul li a {
        font-size: 16px;
        padding: 8px 10px;
    }

    .overview h1 {
        font-size: 24px;
    }

    .stat-card h2 {
        font-size: 20px;
    }

    .stat-card p {
        font-size: 28px;
    }
}
