body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(14, 13, 13);
    text-decoration: none;
}

.main {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.head h1 {
    text-align: center;
    color: #333;
}

.patient-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.patient-table th, .patient-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.patient-table th {
    background-color: #4CAF50;
    color: white;
}

.patient-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.patient-table tr:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #00408d;
}

.patient-detail {
    display: none;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.patient-detail h2 {
    margin-bottom: 15px;
}

.patient-detail p {
    font-size: 16px;
}
